{% include "layout/header.html.twig" %}
<div class="content-wrapper">
    <section class="content-header">
    <div class="container-fluid">
<div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Employés</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {{ form_start(form) }}
                <div class="card-body">
                  <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Nom et prenom: </label>
                            {{ form_widget(form.nom_employer) }}
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                   <div class="row">
                    <div class="col-6">
                        <label for="">Adresse: </label>
                        {{ form_widget(form.adresse) }}
                    </div>
                   </div>
                  </div>
                  <div class="form-group">
                   <div class="row">
                    <div class="col-6">
                        <label for="">telephone: </label>
                        {{ form_widget(form.telephone) }}
                    </div>
                   </div>
                  </div>
                  
                  
                  
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                   <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                
                <a href="{{ path('app_employer_index') }}"> <button type="button" class="btn btn-danger">Retour</button></a>
                </div>
            {{ form_end(form) }}
            </div>
            <!-- /.card -->

    </section>
    </div>  
 {% include "layout/footer.html.twig" %}    